<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="Page navigation example">

        <ul class="pagination justify-content-center">
          <li class="page-item"  *ngIf="pagination?.links?.previous">
            <a class="page-link" (click)="setPage(pagination?.links?.previous)">Előző</a>
          </li>

          <li class="page-item">
            <a class="page-link">{{ pagination?.totalPages}} /{{ pagination?.currentPage}}</a>

          </li>

          <li class="page-item" *ngIf="pagination?.links?.next">
            <a class="page-link" (click)="setPage(pagination?.links?.next)">Következő</a>
          </li>
        </ul>

      </nav>
    </div>

  </div>
</div>
