<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Rólunk</h3>
            <hr>

            <h4><span class="badge badge-secondary">01</span> Találkozó & tervezés</h4>
            <p>Miután úgy döntesz, hogy cégünket választod gyorsan elvégezzük a szükséges papírmunkát és már is elindul a tervezési folyamat a projekt menedzsereddel közösen. Az első lépés az, hogy jobban megismerjünk Téged és céljaidat illetve közösen kialakítsunk egy stratégiát. A tervezési szakaszban többször egyeztetünk Veled e-mail-ben, telefonon/Skype-on vagy esetenként személyesen is. Készítünk egy részletes leírást és összefoglaljuk a határidőket, prioritásokat és igényeket a projekttel kapcsolatban és kapsz tőlünk egy listát arról is, hogy mire lesz szükségünk majd Tőled.</p>

            <h4><span class="badge badge-secondary">02</span> Design</h4>
            <p>Minden webes és online munkát látványtervek készítésével kezdünk és a fejlesztés vagy kivitelezés megkezdése előtt bemutatunk Neked egy valósághű tervet, illetve a legfőbb arculati elemeket (pl.: logó, banner, layout, színpaletta, UI stb.). Ha már a terveken minden egyezik az elképzeléseddel, akkor belevágunk a projekt megvalósításába.</p>

            <h4><span class="badge badge-secondary">03</span> Webfejlesztés & kivitelezés</h4>
            <p>Legyen szó weboldal készítésről, mobil alkalmazás fejlesztésről vagy komplex portálfejlesztésről a munka minden esetben egy demo felületen zajlik, ahol folyamatosan tudod követni és ellenőrízni, hogy minden az elképzeléseidnek megfelelően alakul-e. Átlagosan heti egy konzultációt is felajánlunk a webfejlesztés folyamata során, hogy biztosak legyünk abban, hogy fejlesztő csapatunk a jó irányba halad. A kivitelezés vége felé már az admin felülethez is adunk hozzáférést, hogy a tartalomkezelést is legyen lehetőséged átnézni.</p>

            <h4><span class="badge badge-secondary">04</span> Tesztelés & élesítés</h4>
            <p>Először mi tesztelünk és utána Te is tesztelsz…. Ha minden szuper a demo felületen, akkor migráljuk át a weboldalt a végleges tárhelyre és elérhető lesz a választott domain címen a nagyközönség számára. Végül egy rövid felhasználói tréninget is biztosítunk Neked az adminisztrációs felülethez, hogy a továbbiakban önállóan is tudd menedzselni weboldaladat.</p>

            <p>A teljes webfejlesztési folyamat 10 naptól egészen 2-3 hónapig terjedhet komplexitástól függően, de a pontos időtartamot a tervezési szakasz végére már meg tudjuk Neked mondani, így ezzel előre tudsz számolni. Amivel leginkább Te tudod segíteni a folyamatot az a tartalom és egyéb inputok biztosítása minél gyorsabban és a demo oldal folyamatos átvizsgálása és észrevetéleid rendszeres jelzése felénk.</p>
        </div>
    </div>
</div>